---
parameters:
  prefix: test-
  server_image: fedora-software-config
  server_keypair_name: "{{ example_keypair_name }}"
  server_ssh_user: fedora

  common_role_name: "opentelekomcloud.server_common"
  config_repo: "{{ config_repo }}"


resource_registry:
  "Heat::OTC::VPC": "https://raw.githubusercontent.com/opentelekomcloud-infra/heat-templates/master/common/vpc.yaml"
  "Heat::OTC::Server": "https://raw.githubusercontent.com/opentelekomcloud-infra/heat-templates/master/common/server.yaml"
